@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-container {
    @apply w-full mx-auto px-5 max-w-[1240px];
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
  }

  footer {
    flex-shrink: 0;
  }
  #root {
    @apply flex flex-col h-full;
  }
}
